Repository shourov-rahman/nextjs-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
  "*.{html,css,scss,less,ejs}": ["prettier --write"]
}

refactor: modify globals.css file and only keep the mandatory tailwindcss directives
  src/app/globals.css
Due: prettier --write

chore: add eslint rule for allowing both regular function and arrow function
  .eslintrc.json
Due: none

refactor: modify src/app/page.tsx file
  src/app/page.tsx
Due: prettier --write, eslint --fix

chore: set baseurl for path in tsconfig.json file
  tsconfig.json
Due: none

chore(gitignore): add .env to gitignore
  .gitignore
Due: none

docs(readme): add features portion
  README.md
Due: none

docs: fix formatting in README.md
  README.md
Due: none

chore: make .husky/ directory executable in operating system
  .husky/prepare-commit-msg
Due: none

chore: install react-hook-form, @hookform/resolvers, and zod
  package-lock.json
  package.json
Due: none

docs(readme): update README.md with new features
  README.md
Due: none

chore: react query setup
  .eslintrc.json
  package-lock.json
  package.json
  src/app/layout.tsx
  src/components/prividers/ReactQueryProvider.tsx
Due: prettier --write, eslint --fix

chore: refactor huskey prepare-commit-msg hook
  .husky/prepare-commit-msg
  package.json
Due: none

chore: drizzle orm setup
  drizzle.config.ts
  package-lock.json
  package.json
  src/models/Schema.ts
Due: prettier --write, eslint --fix

docs(readme): add feature in README.md file
  README.md
Due: none

feat: add dotenv package and modify drizzle.config.ts file
  drizzle.config.ts
Due: prettier --write, eslint --fix

refactor: rename the folder name "providers" and updtate path based on "providers" folder
  src/app/layout.tsx
  src/components/providers/ReactQueryProvider.tsx
Due: prettier --write, eslint --fix

chore : upgrade packages
  package-lock.json
  package.json
Due: none

chore : downgrade tailwindcss to v4 to v3
  package-lock.json
  package.json
  tsconfig.json
Due: none

chore : upgrade tailwindcss v3 to v4
  package-lock.json
  package.json
  postcss.config.mjs
  src/app/globals.css
  tailwind.config.ts
Due: prettier --write, eslint --fix

chore : add "prettier-plugin-tailwindcss" package
  .prettierrc.json
  package-lock.json
  package.json
Due: none

chore(eslint rule): add "import/prefer-default-export" rule in eslint
  .eslintrc.json
Due: none

feat : update the whole setup
  .eslintrc.json
  .gitignore
  .husky/pre-commit
  .lintstagedrc.json
  README.md
  eslint.config.mjs
  next.config.mjs
  next.config.ts
  package-lock.json
  package.json
  postcss.config.mjs
  tsconfig.json
Due: prettier --write, eslint --fix

feat : oraginze file based on vertical slice architecture
  src/app/layout.tsx
  src/lib/db/Schema.ts
  src/lib/providers/ReactQueryProvider.tsx
Due: prettier --write, eslint --fix

feat: remove commitizen settings
  package.json
Due: none

feat: add zustland, lucide icons, clsx+tailwind-merge packages and reconfigur eslint+prettier
  README.md
  eslint.config.mjs
  package-lock.json
  package.json
Due: none

feat: add missing package in package-lock.json file
  package-lock.json
Due: none

make src as main path
  .gitignore
  tsconfig.json
Due: none
